Repository apache/incubator-yunikorn-k8shim, pull requests merged in 2020-06, with the labels that each got.

#141 [YUNIKORN-252]: Fix the test to accommodate changes introduced as part of YUNIKORN-222
  test/e2e/ci/ci_test.go
Labels: bug, e2e-tests

#142 [YUNIKORN-257] Web container resource limits are too low
  deployments/scheduler/scheduler-load.yaml
  deployments/scheduler/scheduler.yaml
Labels: deployment

#134 [YUNIKORN-170] Create YuniKorn App CRD
  Makefile
  go.mod
  go.sum
  pkg/apis/yunikorn.apache.org/register.go
  pkg/apis/yunikorn.apache.org/v1alpha1/doc.go
  pkg/apis/yunikorn.apache.org/v1alpha1/register.go
  pkg/apis/yunikorn.apache.org/v1alpha1/type.go
  pkg/apis/yunikorn.apache.org/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/doc.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/doc.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/doc.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/yunikorn.apache.org/v1alpha1/application.go
  pkg/client/clientset/versioned/typed/yunikorn.apache.org/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/yunikorn.apache.org/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/yunikorn.apache.org/v1alpha1/fake/fake_application.go
  pkg/client/clientset/versioned/typed/yunikorn.apache.org/v1alpha1/fake/fake_yunikorn.apache.org_client.go
  pkg/client/clientset/versioned/typed/yunikorn.apache.org/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/yunikorn.apache.org/v1alpha1/yunikorn.apache.org_client.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/client/informers/externalversions/yunikorn.apache.org/interface.go
  pkg/client/informers/externalversions/yunikorn.apache.org/v1alpha1/application.go
  pkg/client/informers/externalversions/yunikorn.apache.org/v1alpha1/interface.go
  pkg/client/listers/yunikorn.apache.org/v1alpha1/application.go
  pkg/client/listers/yunikorn.apache.org/v1alpha1/expansion_generated.go
  scripts/custom-boilerplate.go.txt
  scripts/generate-groups.sh
  scripts/update-codegen.sh
Labels: feature
